th {
	background-color: blue;	
}

#error_message{
	color: red;
}

.navigation ul {
	list-style: none;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	position: relative; 
}

