<h1>Hello World</h1>
<!-- <p>See Me in views/static/index.html.erb</p>
<a href="/about">Click here to got to about page</a>
<a href="/signup">sign up page</a>
 -->

<form action="/urls" method="post">
	Original URL:<br>
	<input type="text" name="long_url">
	<input type="submit" name="Submit">
</form>