<h1>signup page</h1>

<form action="/create_user" method="post">
	Name:<br>
	<input type="text" name="name">
	<br>
	Email:<br>
	<input type="text" name="email">
	<br><br>
	<input type="submit" name="Submit">
</form>